#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_clean:
	cargo clean

override_dh_auto_build:
	cargo build --release

override_dh_auto_install:
	install -Dm04755 "target/release/delta" "debian/delta-diff/usr/bin/delta"
	strip "debian/delta-diff/usr/bin/delta"
	install -Dm0644 "completion/completion.bash" "debian/delta-diff/usr/share/bash-completion/completions/delta-diff"
